.navToggle {
  position: absolute;
  margin-top: 50px;
  width: 50px;
  z-index: 1000;
}

.homeNav {
  position: absolute;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  z-index: 10;
}

.homeNav.hide {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.homeNav.show {
  max-height: 500px; /* Adjust based on your Navbar height */
  opacity: 1;
  pointer-events: auto;
  z-index: 500;
}

 